<% @page_title = @room.name %> 
<script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
     <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCd3SCSn16uIQTi4MbNJ1QtDRCYMce44Yk&sensor=false"></script>
        <div class="loading" id="loading">
      <img src="/loading.gif">
      <br />位置情報を取得しています<br/>
    </div>

<div id="timeline">
  <% unless @posts.present? %>
    <div class="notification">まだ投稿がありません<br />最初の<a href="/new?room_id=<%= @room_id %>">投稿</a>をしませんか？</div>
  <% end %>
  <% first_flag = 0 %>
  <% @posts.each do |post|  %>
  <div class="post" id="content">
    <div class="text_body">
    <%= raw(hbr(post.content)) %>
    </div>
    <%= if post.image.present? then link_to post.image, :target=>["_blank"] do image_tag "#{post.image}" end end %>
        <div class="text_data">
          <% post.id %>
          <div id="<%= post.id %>" style="display:inline"><%= @postId[post.id] %></div> :
          <%= time_ago_in_words(post.created_at) %>
           <%= 
                if post.simvalue.present? then
                if post.simvalue > "0.49" then
                  link_to(">>#{@postId.fetch(post.similarity.to_i)}", "\##{post.similarity}" , :id => "res#{post.similarity}")
                 end
               end
            %> 
            <!--<%= link_to("☓", "/delete/#{post.id}")%> -->
          </div>
        </div>
        <% if first_flag == 0
          @last_id = post.id
          first_flag = 1
        end
        end %>
      </div>
      <script>
        function init(){
          if(<%=@room.id == "0"%>){
            }else{
                     $("#loading").css("display", "none");
      $("#timeline").css("display", "none");
    }
    }
      var last_id = "<%= @last_id %>";
      var update = function(){
      $.ajax({
      url: location.href, 
      type: 'GET', 
      data: {
      last_id: last_id
    },
    dataType: 'json'
  })
  .then(function(data){ 
  if(data.length > 0){
  $.each(data, function(i, data){
  if(data['simvalue'] > 0.49){
  var similarity = data['similarity'];
    $('#timeline').prepend('<div class="post">' + data['content'] + '<div class="text_data">'  + data['id'] + ' : less than a minute  <a href="#' + similarity  + '"> >>' + similarity  + '</a></div> </div>');
}else{
    $('#timeline').prepend('<div class="post">' + data['content'] + '<div class="text_data">'  + data['id'] + ' : less than a minute </div> </div>');
}

  last_id = data['id'];
})
}
}) 
}
window.onload = init();
window.onload = getLocation();

setInterval(getLocation, 60000);
function getLocation(){
        var geocoder;
        navigator.geolocation.getCurrentPosition(is_success,is_error);
        function is_success(position) {
          var gpsLat = position.coords.latitude;
          var gpsLng = position.coords.longitude;
         
          gmap_init(gpsLat,gpsLng);
        }
        function is_error(error) {
          var result = "";
          switch(error.code) {
            case 1:
              result = '位置情報の取得が許可されていません';
            break;
            case 2:
              result = '位置情報の取得に失敗';
            break;
            case 3:
              result = 'タイムアウト';
            break;
          }
        }
        
        // googlemap init
        function gmap_init(gpsLat,gpsLng) {
          var geocoder = new google.maps.Geocoder();
          var latlng = new google.maps.LatLng(gpsLat,gpsLng);
         
          geocoder.geocode({'latLng':latlng},function(results,status){
            if (status == google.maps.GeocoderStatus.OK) {
              console.log(results[1].formatted_address);
              result  = '現在地の取得に成功<br>';
              result += '経度：' + gpsLat + '<br>';
              result += '緯度：' + gpsLng + '<br>';
              result += '住所：' + results[0].formatted_address + '<br>';
              userLat = gpsLat;
              userLng = gpsLng;
              checkLocation();
            } else {
    // 　        alert("位置情報を取得できないため、表示できません。\nトップページに戻ります");
    //            location.href="/";
              console.log(status);
            }
          });
        }
}
    function checkLocation(){
      var startLat = <%= @startLat %>;
      var endLat = <%= @endLat %>;
      var startLng = <%= @startLng %>;
      var endLng = <%= @endLng%>;
      console.log(startLat);
      console.log(endLat);
      console.log(startLng);
      console.log(endLng);
      if(startLat < userLat　&& userLat < endLat && startLng < userLng && userLng < endLng){
      console.log("範囲内です");
       $("#timeline").css("display", "block");
       $("#loading").css("display", "none");
  }else{
    console.log("you are out of the range");
    　   alert("タイムラインの範囲以内にいないため、表示できません。\nトップページに戻ります");
    location.href="/";
  }

  }
</script>
