<script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCd3SCSn16uIQTi4MbNJ1QtDRCYMce44Yk&sensor=false"></script>
<% @page_title = "投稿フォーム" %> 
<div class="form">
  <%= form_tag("/create") do %>
  <div class="form-body">
    <div class="form_wrapper">
      <textarea id="content" cols="30" rows="10" name="content" onkeyup="ShowLength(value);"></textarea>
      <p align="right" id="inputlength">0/300</p>
    </div>

    <label id="submit_label"  class="post" for="submit">
      投稿
      <input id="submit" type="submit" style="display:none;" />
    </label>
    <input name="room_id" type="hidden" value="<%= @room_id %>">
    <input id="image" name="image" type="hidden">
    <label class="post" for="upfile">
      +画像を追加
      <input type="file"  name="upfile" id="upfile" accept="image/*" style="display:none;" />
    </label>
    <div><img id="thumbnail" src="./thumbnail.jpg"></div>
    <input id="latitude" type="hidden" name="latitude">
    <input id="longitude" type="hidden" name="longitude">
    <% end %>
  </div>
</div>
<script>
  window.onload = getLocation();
  locationFlag = 0;
  $('#room_name').attr("src","/back.png");
  $('#room_name_wrapper').wrap("<a href='/rooms/<%=params[:room_id]%>' />");
  $('#content').focus();
  setTimeout(getLocation, 300000);
  function getLocation(){
    var geocoder;
    navigator.geolocation.getCurrentPosition(is_success,is_error);
    function is_success(position) {
      var gpsLat = position.coords.latitude;
      var gpsLng = position.coords.longitude;

      gmap_init(gpsLat,gpsLng);
    }
    function is_error(error) {
      var result = "";
      switch(error.code) {
        case 1:
        result = '位置情報の取得が許可されていません';
        break;
        case 2:
        result = '位置情報の取得に失敗';
        break;
        case 3:
        result = 'タイムアウト';
        break;
      }
    }

// googlemap init
function gmap_init(gpsLat,gpsLng) {
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(gpsLat,gpsLng);

  geocoder.geocode({'latLng':latlng},function(results,status){
    if (status == google.maps.GeocoderStatus.OK) {
      console.log(results[1].formatted_address);
      result  = '現在地の取得に成功<br>';
      result += '経度：' + gpsLat + '<br>';
      result += '緯度：' + gpsLng + '<br>';
      result += '住所：' + results[0].formatted_address + '<br>';
      userLat = gpsLat;
      userLng = gpsLng;
      $("#latitude").val(userLat);
      $("#longitude").val(userLng);
      checkLocation();
    } else {
      console.log(status);
    }
  });
}
}

function checkLocation(){
  var startLat = <%= @startLat %>;
  var endLat = <%= @endLat %>;
  var startLng = <%= @startLng %>;
  var endLng = <%= @endLng %>; 
  if(startLat < userLat　&& userLat < endLat && startLng < userLng && userLng < endLng){
    locationFlag = 1;
  }else{
    　   alert("タイムラインの範囲以内にいないため、表示できません。\nトップページに戻ります");
    location.href="/";
  }
}
function ShowLength( str ) {
  document.getElementById("inputlength").innerHTML = str.length + "/300";
  form = document.getElementById("submit");
  if (str.length > 300 || locationFlag == 0){
    form.disabled = "disabled";
    $('#submit_label').css('background-color','rgba(50,50,50,0.1)');
    $('#submit_label').css('color','#888');
  }else{
    if (str.length < 301 && locationFlag == 1){
      form.disabled = "";
      $('#submit_label').css('background-color','#FF9933');
      $('#submit_label').css('color','#333');
    }
  }
}
$('#upfile').change(function(){
  if (this.files.length > 0) {
    var file = this.files[0];
    var reader = new FileReader();
    reader.readAsDataURL(file);
    console.log(reader);
    reader.onload = function() {
      var height = 500;
      $('#thumbnail').attr('src', reader.result );
      var image = reader.result;
      document.getElementById('image').value=image;
    }
  }
});
</script>