<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <% if @req == :pc %>
    <script>document.write('<link rel="stylesheet" type="text/css" href="/Stylesheet/PC.css"/>');</script>
  <% else %>
    <script>document.write('<link rel="stylesheet" type="text/css" href="/Stylesheet/SP.css"/>');</script>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller.action_name, 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet">

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCd3SCSn16uIQTi4MbNJ1QtDRCYMce44Yk&sensor=false"></script>
</head>

<body>
  <div class="header">
    <div class="top" id="top">
      <a href="/">
        <div class="top_left">Soco<%= image_tag 'icon.png' %></div>
      </a>
      <ul class="header-menus">
        <li>
          <div class="post_page" id="post_page">
            <% if params[:room_id].present? || params[:id].present? then %>
            <a herf="#" id="new_post_form" class="show-modal">
            <%else%>
            <a href="/rooms/new">
            <% end %>
            <img src="/post.png" height="28">
          </a>
        </div>
      </li>
      <li>
        <div class="post_page">
          <a herf="#" id="setting" class="show-modal">
            <img src="/setting.png" height="28">
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="main" id="main">
  <% if @room.present? then %>
  <div id="room_name_wrapper" class="room_name">
    <img id="room_name" src="/room.png">
    <%= @room.name %>
  </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
